@import "normalize.scss";
* {
    margin: 0;
    padding: 0;
}
$color-l: #F4F5F6;
$color-s: #afcfe6;
$color-m: #6C7D89;
$color-n: #1e262c;
$color-d: #121018;
$color-dd: #0a0b0c;

@import url("https://fonts.googleapis.com/css?family=PT+Sans:regular,italic,700,700italic&display=swap");
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,300italic,regular,italic,600,600italic,700,700italic,800,800italic');

$font-h: 'PT Sans';
$font-p: 'Open Sans';

body {
    overflow-x: hidden;
    font-family: $font-p;
}
@import "main.scss";
.page {
    position: relative;
    top: 0; 
    bottom: 0;
    left: 0; 
    right: 0;
    display: flex;
    width: 100%;
}
.main {
    position: fixed;
    width: 350px;
    height: 100vh;
    background-color: $color-n;
    color: $color-l;
    box-shadow: 0 0 24px $color-dd;
    z-index: 9;
    @media screen and (max-width: 1024px) {
        width: 50px;
    }
}
.content {
    position: relative;
    width: 70vw;
    margin-left: 350px;
    height: 100%;
    display: flex;
    flex-direction: column;
    flex: 1 1 auto;
    align-items: center;
    background-color: $color-d;
    color: $color-l;
    font-family: $font-p;
    @media screen and (max-width: 1024px) {
        margin-left: 50px;
    }
}
.container {
    max-width: 600px;
    width: 100%;
    display: flex;
    margin: 2.3rem auto 0 auto;
    //margin-top: 2.3rem;
    @media screen and (max-width: 1178px) {
        margin: 2.3rem 0 0 0;
    }
    @media screen and (max-width: 1024px) {
        margin: 2.3rem auto 0 auto;
    } 
}
@import "navigation.scss";
.wraper {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    //padding: 1rem;
    width: 100%;
}
@import "stories.scss";
@import "form.scss";
@import "news.scss";